  .nation-full{
    padding-bottom: 75px;
  }
  .logo {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  .logo:hover {
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.15);
  }
  .nation-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: Mephisto;
    margin-top: 10px;
  }

  .nation-coach {
    color: maroon;
    margin-top: 5px;
  }
  .nation-desc {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
  }

  .nation-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
  }

  .next-opponents {
    text-align: center;
    vertical-align: top;
  }
  .nation-info {
    text-align: center;
    vertical-align: top;
  }
  .next-team {
    width: 100%;
    border-radius: 50%;
    transition: opacity 0.15s;
  }

  .next-team:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .next-label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: maroon;
  }

  .full-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
  }